.header {
    font-size: 16px;
    background: #202020;
    color: white;
    padding: 16px 20px;
    box-sizing: border-box;
}

.header__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    min-width: 0;
}

.header__logo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    min-width: 0;
}

.header__menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    min-width: 0;
}

.logo__icon {
    color: #42d392;
}

@media (max-width: 320px) {
    .header {
        font-size: 12px;
    }
    .header__menu {
        gap: 8px;
    }
    .logo__icon {
        display: none;
    }
}